.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  width: 24ch;
  text-wrap: pretty;
  text-align: center ;
}

.center {
  margin: 0 auto;
}

.playerList {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 80%;
  overflow-x: scroll;
  margin: 0 auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

.playerList::-webkit-scrollbar {
  display: none;
}

.playerCard {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  border: 1px solid black;
}
