.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  width: 24ch;
  text-wrap: pretty;
  text-align: center ;
}

.center {
  margin: 0 auto;
}

.playerList {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 80%;
  overflow-x: scroll;
  margin: 0 auto;
  -ms-overflow-style: none;
  scrollbar-width: 0px;
}

.playerPicker {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  -ms-overflow-style: none;
  scrollbar-width: 0px;
}

.playerList::-webkit-scrollbar {
  display: none;
}

.playerCard {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 180px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  border: 1px solid black;
  scroll-snap-align: center;
}

.fig {
  margin-bottom: auto;
}

.cardButton {
  box-sizing: border-box;
  align-self: stretch;
  text-align: center;
  background-color: red;
  color: white;
  display: flex;
  padding: 4px;
  user-select: none;
  cursor: pointer;
}

.noPlayerCard {
  background-color: cornflowerblue;
  color: white;
}

.pickerButton {
  background-color: rgb(125, 172, 55);
  color: white;
}
.cardButton.pickerButton::before {
  content: "";
}

.cardButton::before {
  content: "X ";
  margin-right: auto;
}

.cardButton::after {
  content: " ";
  margin-left: auto;
}

